* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    background: #1b2d35;
    font-family: Arial, Helvetica, sans-serif;
    color: #e8ebed;
}

.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* =========================
   ЯЗЫК
========================= */

.language {
    display: flex; 
    margin-top: -100px;
    position: absolute;
    
    left: 50%;

    transform: translateX(-50%);

    color: #a9b0b4;
    font-size: 25px;
    font-weight: 400;
}

/* =========================
   ЦЕНТР
========================= */

.main {
    position: absolute;

    top: 411px;
    left: 30px;
    right: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =========================
   ЛОГОТИП
========================= */

.instagram-logo {

display: flex;
margin-top: 1px;
    width: 116px;
    height: 116px;

    
}

.camera {
    position: relative;

    width: 60px;
    height: 60px;

    border-radius: 30px;

    background:
        linear-gradient(
            135deg,
            #7433e8 0%,
            #c414dc 27%,
            #ef176e 48%,
            #ff3944 68%,
            #ffad00 100%
        );
}

.camera::before {
    content: "";

    position: absolute;

    top: 12px;
    left: 12px;

    width: 92px;
    height: 92px;

    border-radius: 24px;

    background: #1b2d35;
}

.lens {
    position: absolute;

    width: 59px;
    height: 59px;

    top: 28px;
    left: 28px;

    border-radius: 50%;

    border: 10px solid #f12b65;

    z-index: 2;
}

.dot {
    position: absolute;

    width: 15px;
    height: 15px;

    top: 19px;
    right: 19px;

    border-radius: 50%;

    background: #d22ac5;

    z-index: 2;
}

/* =========================
   ФОРМА
========================= */

.form {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.form input {
    width: 100%;
    height: 120px;

    padding: 0 32px;

    border: 2px solid #4b565b;
    border-radius: 31px;

    outline: none;

    background: transparent;

    color: #ffffff;

    font-size: 29px;

    font-family: Arial, Helvetica, sans-serif;
}

.form input::placeholder {
    color: #a6adb1;
    opacity: 1;
}

.form input:focus {
    border-color: #69747a;
}

/* =========================
   КНОПКА ВОЙТИ
========================= */

.login {
    width: 100%;
    height: 86px;

    margin-top: 0;

    border: none;
    border-radius: 45px;

    background: #086be5;

    color: #ffffff;

    font-size: 30px;
    font-weight: 400;

    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;
}

/* =========================
   ЗАБЫЛИ ПАРОЛЬ
========================= */

.forgot {
    margin-top: 45px;

    color: #e8ebed;

    font-size: 30px;
    font-weight: 400;
}

/* =========================
   СОЗДАТЬ АККАУНТ
========================= */

.create {
    position: absolute;

    left: 30px;
    right: 30px;
    bottom: 128px;

    width: calc(100% - 60px);
    height: 86px;

    border: 2px solid #3699ff;
    border-radius: 45px;

    background: transparent;

    color: #43a1ff;

    font-size: 29px;
    font-weight: 400;

    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;
}

/* =========================
   META
========================= */

.meta {
    position: absolute;

    bottom: 61px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    align-items: center;

    gap: 6px;

    color: #dfe4e6;

    font-size: 30px;
    font-weight: 600;

    white-space: nowrap;
}

.meta span {
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
}


/* =========================
   АДАПТАЦИЯ
========================= */

@media (max-width: 600px) {

    .language {
        padding-top: 120px;
        font-size: 17px;
        
    }

    .main {
        top: 150px;
    }

    .instagram-logo {
        width: 82px;
        height: 82px;
        margin-bottom: 50px;
    }

    .camera {
        width: 82px;
        height: 82px;
        border-radius: 21px;
    }

    .camera::before {
        width: 64px;
        height: 64px;
        top: 9px;
        left: 9px;
        border-radius: 17px;
    }

    .lens {
        width: 42px;
        height: 42px;
        top: 20px;
        left: 20px;
        border-width: 7px;
    }

    .dot {
        width: 11px;
        height: 11px;
        top: 14px;
        right: 14px;
    }

    .form {
        gap: 16px;
    }

    .form input {
        height: 72px;
        padding: 0 24px;
        border-radius: 22px;
        font-size: 19px;
    }

    .login {
        margin-top: 25px;
        height: 64px;
        font-size: 22px;
    }

    .forgot {
        margin-top: 14px;
        font-size: 21px;
    }

    .create {
        left: 30px;
        right: 30px;
        bottom: 70px;
        width: calc(100% - 60px);
        height: 64px;
        font-size: 20px;
    }

    .meta {
        bottom: 13px;
        font-size: 22px;
    }

    .meta span {
        font-size: 31px;
    }
}